@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --white: 0, 100%, 100%;
    --black: 0, 0%, 0%;
    --blue-950: 233, 39%, 13%;
    --blue-900: 234, 39%, 14%;
    --blue-850: 235, 35%, 18%;
    --blue-100: 227, 100%, 92%;
    --blue-50: 229, 52%, 96%;
    --grey-400: 233, 13%, 76%;
    --grey-200: 0, 3%, 89%;
    --cyan-300: 182, 91%, 71%;
    --red-400:0, 91%, 71%;
    --purple-400:284, 89%, 74%;

    --fs-100:6.25rem;
    --fs-80:5rem;
    --fs-16:1rem;
    --fs-14:0.875rem;
    --fs-12:0.75rem;
    --fs-13:0.8125rem;
    --fs-28:1.75rem;


    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-80: 5rem;
    --spacing-96: 6rem;






}

/* utility classes */
/* FONTS and TYPOGRAPHY*/
.font-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-variation-settings:
    "YOPQ" 300;
}

.roboto-serif {
  font-family: "Roboto Slab", serif;
}

.font-mono {
  font-family: "Space Mono", monospace;
}

.tp1f1{
    font-size: var(--fs-80);
    line-height: 125%;
    letter-spacing: -5px;
    font-weight: bold;
    font-family: "Kumbh Sans", sans-serif;
}

.tp2f1{
    font-size: var(--fs-14);
    line-height: 120%;
    letter-spacing: 13px;
    font-weight: bold;
    font-family: "Kumbh Sans", sans-serif;
}

.tp3f1{
    font-size: var(--fs-12);
    line-height: 125%;
    font-weight: bold;
    font-family: "Kumbh Sans", sans-serif;
}

.tp1f2{
    font-size: var(--fs-80);
    line-height: 133%;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.tp2f2{
    font-size: var(--fs-14);
    line-height: 130%;
    letter-spacing: 13px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.tp3f2{
    font-size: var(--fs-12);
    line-height: 133%;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.tp1f3{
    font-size: var(--fs-80);
    line-height: 120%;
    letter-spacing: -10px;
    font-family: "Space Mono", monospace;

}

.tp2f3{
    font-size: var(--fs-14);
    line-height: 150%;
    letter-spacing: 13px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.tp3f3{
    font-size: var(--fs-12);
    line-height: 150%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
}

/* settings MODAL fonts */
.tp1s{
    font-size: var(--fs-28);
    line-height: 125%;
    font-weight: bold;
}

.tp2sf1{
    font-size: var(--fs-13);
    line-height: 145%;
    font-weight: bold;
}

.tp2sf2{
    font-size: 1rem;
    line-height: 125%;
}

.tp2sf3{
    font-size: 1rem;
    line-height: 125%;
    font-weight: bold;
}

.tp3s{
    font-size: var(--fs-13);
    line-height: 125%;
    letter-spacing: 5px;
    font-weight: bold;
}

.tp4s{
    font-size: var(--fs-12);
    line-height: 125%;
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}

.display-none{
    display: none;
}


/* TEXT colors */
.text-blue-100{
    color: hsl(var(--blue-100));
}

.text-blue-100-40{
    color: hsla(var(--blue-100),0.4);
}


.text-blue-900{
    color: hsl(var(--blue-900));
}

.text-blue-850-40{
    color: hsla(var(--blue-850),0.4);
}

.text-blue-850-73{
    color: hsla(var(--blue-850),0.73);
}

.text-white{
    color: hsl(var(--white));
}


/* BG colors */

.bg-red-400{
    background: hsl(var(--red-400));
}

/* BLOCKS */

.logo-container, .settings-button-container{
    align-items: center;
    align-content: center;
    align-self: center;
}

body{
    height: 100vh;
    align-items: center;
    align-content: center;
    max-width: 28rem;
    margin: auto;
}
html{
    background-color: hsl(var(--blue-850));

}

main{
    align-content: center;
    padding: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap:var(--spacing-32);
}

.tabs{
    background-color: hsl(var(--blue-900));
    display: flex;
    padding: var(--spacing-8);
    border-radius: 2rem;
    justify-content: space-between;
}

.tab{
    padding: var(--spacing-16) var(--spacing-24);
    border-radius: 2rem;
    white-space: nowrap;
      overflow: hidden;
      color: hsla(var(--blue-100),0.4);

}

.tab:hover{
    color: hsl(var(--blue-100));
    cursor: pointer;
}


.tab.active{
    /* background-color: hsl(var(--red-400)); */
    color: hsl(var(--blue-850));
}



.timer-wrapper{
    /* background: #2E325A; */
    margin: 1rem;
    aspect-ratio: 1;
    padding: var(--spacing-16);
background-image: linear-gradient(to right bottom, #0e112a, #151935, #1d2141, #252a4d, #2e325a);
border-radius: 50%;
box-shadow: -50px -50px 100px 0px rgba(39,44,90,1),50px 50px 100px 0px rgba(18,21,48,1);
}

.timer-container{
    background-color: hsl(var(--blue-900));
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: var(--spacing-8) solid hsl(var(--blue-900));
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid sa;
    
}

.progress-bar{
    position: absolute;
    height: 1rem;
    width: 100%;
    top:0;
    left: 0;
    background-color: hsl(var(--red-400));
    border-radius: 1rem;
}

.progress-svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(-90deg);
    z-index: 1;
}

.arrow{
    opacity: 0.25;
}



#progress-bar{
    stroke: hsl(var(--red-400));
    stroke-width: var(--spacing-8);
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 40; /* Progress percentage */
    transition: stroke-dasharray 0.5s ease-out;
}

.action{
    position: relative;
    z-index: 20;
}

.action:hover{
    cursor: pointer;
}

/* MODAL - START */

.modal-container{
    background: hsl(var(--blue-850));

}

.settings-modal{
    display: none;
    position: fixed;
    background-color: white;
    border-radius: var(--spacing-16);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 20.5rem;
    z-index: 50;
}

hr{
    background: hsl(var(--grey-200));
    height: 1px;
    border: 0;
    width: 100%;
}

.settings-modal-head{
    display: flex;
    padding: var(--spacing-16);
    justify-content: space-between;
}

.settings-modal-head img{
    object-fit: contain;
}

.settings-grid{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);

}

.input-field-container{
    display: flex;
}

.input-field-container label,.input-field-container .input-container{
    width: 50%;
}

.input-field-container label{
    text-align: left;
    align-content: center;
}

form{
    padding: var(--spacing-24);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding-bottom: var(--spacing-56);
    position: relative;
}


.time-input{
    width: 100%;
    border: 0;
    background: none;
    
    text-align: left;
    
}

input[type="number"]:focus{
  
    outline: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


.arrows-group{
    width: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.arrows-group img{
    display: block;
    width: 100%;
    height: auto;
}

.input-container{
    display: flex;
    background: hsl(var(--blue-50));
    border-radius: var(--spacing-8);
    padding: var(--spacing-8) var(--spacing-16);
}

.font-picker-container,.color-picker-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.color-picker, .font-picker{
    display: flex;
    gap: var(--spacing-16);
    width: fit-content;
    margin: auto;
}

.font-pick{
    background: hsl(var(--blue-50));
}

.font-pick.active{
    color: white;
    background: hsl(var(--blue-900));
}

 .font-pick{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
      text-align: center;
    align-content: center;
    align-items: center;
 }


.color-pick{
    height: var(--spacing-40);
    width: var(--spacing-40);
    border-radius: 50%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.color-pick{
    position: relative;
}


.color-pick.active::after{
    position: absolute;
    /* border: 1px dotted darkcyan; */
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-image: url(assets/check.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
}

.color-pick:hover/* , .font-pick:hover */{
    cursor: pointer;


}

#red-pick{
    background: hsl(var(--red-400));

}

#cyan-pick{
    background: hsl(var(--cyan-300));
}

#purple-pick{
    background: hsl(var(--purple-400));
}

.submit-btn{
    border: 0;
    outline: 0;
    padding: var(--spacing-16) var(--spacing-48);
    border-radius: 3rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    
}


.submit-btn:hover,.close-btn:hover{
    cursor: pointer;
}

/* MODAL - END */

/* The container */
.container,.font-pick-container {
  display: block;
  position: relative;
      height: var(--spacing-40);
    width: var(--spacing-40);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.container:active,.font-pick-container:active{
border: 4px solid white;
outline: 1px solid hsl(var(--blue-50));
border-radius: 50%;

}


/* Hide the browser's default radio button */
.container input,.color-pick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
    background-image: url(assets/check.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20px 20px;
}

.font-pick-container input{
      position: absolute;
  opacity: 0;
  cursor: pointer;
}

.font-pick-container input:checked ~ .font-pick{
    color: white;
    background: hsl(var(--blue-900));
}



input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

label.font-pick-container:focus-within,
label.container:focus-within {
  outline: none;
}

input[type="radio"] {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.settings-btn{
    opacity: 0.5;
}


.settings-btn:hover{
    cursor: pointer;
    opacity: 1;
}

.setting-h2{
    text-align: center;
}


.arrow:active{
    opacity: 0.8;
}


@media (min-width:768px){


.tp1f1{
    font-size: var(--fs-100);
}

.tp2f1{
    font-size: var(--fs-16);
    line-height: 125%;
    letter-spacing: 15px;
}

.tp3f1{
    font-size: var(--fs-14);
    line-height: 120%;
}

.tp1f2{
    font-size: var(--fs-100);
    line-height: 130%;

}

.tp2f2{
    font-size: var(--fs-16);
    line-height: 125%;
    letter-spacing: 15px;
}

.tp3f2{
    font-size: var(--fs-14);
    line-height: 130%;

}

.tp1f3{
    font-size: var(--fs-100);
    line-height: 150%;
    letter-spacing: -10px;

}

.tp2f3{
    font-size: var(--fs-16);
    line-height: 150%;
    letter-spacing: 15px;
}

.tp3f3{
    font-size: var(--fs-13);
    line-height: 145%;
}


.settings-modal{

    max-width: 30rem;
    border-radius: var(--spacing-24);
}


.settings-grid{
    flex-direction: row;
    gap: 0;
    gap: var(--spacing-16);
}

.input-field-container{
    flex-direction: column;
    gap: var(--spacing-8);
}

.input-field-container .input-container{
    width: 100%;
}

.font-picker-container,.color-picker-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.color-picker, .font-picker{

 margin: 0;
}


.settings-modal-head{
    padding: var(--spacing-24);

}


form{
    padding: var(--spacing-24);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding-bottom: var(--spacing-56);
    position: relative;
}


.arrow:hover{
    opacity: 0.8;
    cursor: pointer;
}

.container:hover,.font-pick-container:hover{
border: 4px solid white;
outline: 1px solid hsl(var(--blue-50));
border-radius: 50%;

}

}